* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

body {
  background-color: #7a3145;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 1200px;
  padding: 20px;
}

.order-section {
  background-color: #7a3145;
  padding: 40px;
  border-radius: 10px;
}

.order-section h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.order-section h2 span {
  color: rgba(251, 251, 251, 0.3);
}

.order-section p {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #fbfbfb;
  margin-bottom: 40px;
  text-align: left;
  margin-top: 25px;
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-form form {
  flex: 1;
  min-width: 300px;
  background-color: #fff;
  color: #7a3145;
  padding: 50px;
  border-radius: 30px;
}

.order-form form h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 50px;
}

.order-form form h3 .from-us {
  color: #7a3145;
}

.order-form form h3 .the-form {
  color: #576f35;
}

.form-input,
.form-textarea {
  display: block;
  width: 429px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
  padding: 16px;
  margin-bottom: 20px;
}

.form-input::placeholder,
.form-textarea::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-input {
  height: 52px;
  padding-right: 16px;
}

.form-textarea {
  height: 95px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.form-button {
  width: 429px;
  height: 52px;
  padding: 16px 191px;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  background-color: #576f35;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.image-and-social {
  border-radius: 30px;
  padding: 50px;
  width: 527px;
  height: 534px;
  background-color: #576f35;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-area {
  border-radius: 15px;
  width: 427px;
  height: 273px;
  margin-bottom: 50px;
}

.image-area img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.social-media {
  width: 100%;
  text-align: left;
}

.social-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.social-links .social-link span {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;
}

.social-links .social-link {
  text-decoration: none;
}

.social-links .social-link:hover span {
  text-decoration: underline;
}

.separator {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
